<div class="password-requirements">
    <p>Password Requirements:</p>
    <div class="{{has_lowercase}}" id="lowercase">
        1 Lowercase letter
    </div>
    <div class="{{has_uppercase}}" id="uppercase">
        1 Uppercase letter
    </div>
    <div class="{{has_digit}}" id="digit">
        1 Number
    </div>
    <div class="{{long_enough}}" id="length" data-min-length="{{min_length}}">
        {{min_length}} characters long
    </div>
</div>

<style>
    .password-requirements {

        div {
            font-weight: 600;
            color: crimson;
            transition: all 0s ease-in-out;
        }
        .true {
            color:mediumseagreen !important;
            font-style: italic !important;
            font-weight: 400 !important;
        }

    }
</style>

<script>
    let input = document.getElementById("password");

    // to ignore vscode
    const minLength = parseInt(document.getElementById('length').dataset.minLength); 

    input.addEventListener("keyup", function(event) {
        let password = input.value;
        let lowercase = document.getElementById("lowercase");
        let uppercase = document.getElementById("uppercase");
        let digit = document.getElementById("digit");
        let length = document.getElementById("length");

        let has_lowercase = /[a-z]/.test(password);
        let has_uppercase = /[A-Z]/.test(password);
        let has_digit = /\d/.test(password);    
        // let long_enough = password.length >= {{min_length}};
        if (has_lowercase) {
            lowercase.classList.add("true");
        } else {
            lowercase.classList.remove("true");
        }
        if (has_uppercase) {
            uppercase.classList.add("true");
        } else {
            uppercase.classList.remove("true");
        }

        if (has_digit) {
            digit.classList.add("true");
        }
        else {
            digit.classList.remove("true");
        }

        if (password.length >= minLength) {
            length.classList.add("true");
        } else {
            length.classList.remove("true");
        }



    })



</script>