<h1>Set new password</h1>
<p>Enter your new password. DONT FORGET IT AGAIN!</p>
<form hx-post="/api/auth/change-password" hx-target="#response-ok" hx-target-*="#response-error" hx-swap="innerHTML">
    <span>
        <label for="password">New Password</label>
        <input type="text" id="password" name="password">

    </span>
    <span>
        <label for="confirm-password">Confirm Password</label>
        <input type="text" id="confirm-password" name="confirm_password">
    </span>
    <button>Change</button>
</form>
<div id="response-ok"></div>
<div id="response-error"></div>
