{% extends "base.html" %}

{% block content%}
<main>
    <div class="form-card">
        <h1>Reset Password</h1>
        <form hx-post="/api/auth/reset_password" hx-target="#response-ok" hx-target-*="#response-error" hx-swap="innerHTML">
            <span>
                <label for="password">Password: </label>
                <input type="password" id="password" name="password"></label>
            </span>
            <span>
                <label for="password_confirm">Confirm Password: </label>
                <input type="password" id="password_confirm"
            </span>
            <button type="submit">Change</button>
        </form>
        <div id="response-ok"></div>
        <div id="response-error"></div>
    </div>
</main>
{% endblock %}