
{% extends "base.html" %}

{% block scripts %}
<script>

</script>
{% endblock %}

{% block content %}
    <div class="form-card"  hx-ext="response-targets" id="response-target">
        <h1>Email Login</h1>
        <p>Enter your email to recieve a one time sign in code</p>
            <form hx-post="/api/auth/email-code" hx-target="#response-target" hx-swap="innerHTML" hx-target-*="#response-error">
            <span>
                <label for="email">Email: </label>
                <input type="email" id="email" name="email" required>
            </span>
            <button>Send</button>
            </form>        
        <div id="response-error"></div>
    </div>
{% endblock %}